.body {
  p {
    font-weight: 300;
  }
}


.home {
  min-height: calc(100vh - 70px);
  align-items: center;
  justify-content: center;
  padding-top: 4vh;
  color: white;
  p {
    font-size: 22px;
  }
  h1 {
    font-size: 85px;
  }

  h2 {
    margin-top: 0;
    font-size: 32px;
  }
}

.background-image {

 min-height: 100vh;
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;

}


.journee {
  h1 {
    color: white;
  }
}

.hotels {
  h1 {
    color: white;
  }
}

.liste {
  h1 {
    color: white;
  }
}

.rsvp {
  h1 {
    color: white;
  }
}

.form-wrapper {
  color: white;
  font-size: 16px;
  legend {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.invalid-feedback{
  color: red;
}

.hide {
  display: none;
}

.guest_remarques {
  display: none;
}

.guest_presence_brunch {
  display: none;

}

.guest_nombre {
  display: none;
}

.guest_nombre_enfants {
  display: none;
}

.btn {
  margin-bottom: 15px;
}

.day-container {
  color: white;
  font-weight: 300;

}

.picture-journee {
  height: 300px;
  width: 300px;
}

.image-map {
  display: flex;
  justify-content: space-between;
}

// .eglise {
//   display: flex;
//   justify-content: flex-start;
//   width: 300px;
//   flex-direction: row;
//   margin-top: 24vh;
// }

.eglise-content {
  justify-content: center;

}

.soiree {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  // margin-top: 30vh;
  // width: 300px;
  // margin-left: 97vh;
}

.soiree-content {
  width: 250px;
  background-color: transparent;
  opacity: 80%;
}

.space {
  min-height: 2vh;
}

.oneline-container {
  color: white;
  // margin-top: 25vh;
  min-height: 80vh;
  vertical-align: center;
  display: flex;
  justify-content: space-between;
  p {
    font-weight: 300;
  }
    a {
    text-decoration: none;
    color: #F25757;
    &:hover {
      color: #61E8E1;
    }
  }
}

.cocktail {
  // padding-left: 260px;
  // padding-right: 31px;
  // width: 300px;

}

.eglise {
  // padding-left: 40px;
  // padding-right: 160px;
}

.text-journee {
  width: 350px;
  // height: 180px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  padding: 20px;

  h2 {
    margin: 0;
    margin-bottom: 10px;
  }
}

.row {
  margin: auto;
}

.hotels-navette-content {
  min-height: 30vh;
  color: white;
  p {
    font-weight: 200;
  }
  ul {

  list-style-type: none;
  }
}
